   ////////////////FONTS////////////////
   @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700'); //////////////PRELOADER/////////////
.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1011;
    overflow: hidden;
}

.no-js {
    display: none;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    z-index: 11;
    &:before {
        content: '';
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #d9d9d9;
        animation: spin-reverse .6s linear infinite;
    }
    &:after {
        content: '';
        position: absolute;
        top: 25px;
        left: 25px;
        right: 25px;
        bottom: 25px;
        border-radius: 50%;
        border: 1px solid transparent;
        border-top-color: #767676;
        animation: spin 1s linear infinite;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin-reverse {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

.loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #000000;
    z-index: 10;
}

.loader-wrapper .loader-section.section-left {
    left: 0;
}

.loader-wrapper .loader-section.section-right {
    right: 0;
}

.loaded .loader-wrapper .loader-section.section-left {
    transform: translateX(-100%);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded .loader-wrapper .loader-section.section-right {
    transform: translateX(100%);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded .loader {
    opacity: 0;
    transition: all 0.3s ease-out;
}

.loaded .loader-wrapper {
    visibility: hidden;
    transform: translateY(-100%);
    transition: all 0.3s 1s ease-out;
} ///////SETTINGS//////
button:focus {
    outline: 0;
}

* {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 19px;
    font-size: 14px;
    color: #1C1B1A;
    background: #fff;
}

a {
    color: #1C1B1A;
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    @media (max-width: 1200px) {
        width: 100%;
        padding: 0 10px;
    }
    @media (max-width: 1023px) {
        padding: 0 60px;
    }
    @media (max-width: 640px) {
        padding: 0 30px;
    }
}

///////////HEADER//////////////
.header{
    height: 70px;
    box-shadow: 0px 1px 4px rgba(28, 27, 26, 0.07);
    &__logo{
        &-link{
            background: url('../img/logo.svg') no-repeat 50% 50%;
            display: block;
            width: 89px;
            height: 22px;
        }
    }
    &__menu{
        display: none;
        background: url('../img/menu.svg') no-repeat 50% 50%;
        border: none;
        outline: none;
        width: 21px;
        height: 14px;
        cursor: pointer;
        @media (max-width: 1023px) {
            display: block;
        }
        &-box{
            width: 250px;
            position: fixed;
            right: 0;
            background: #eee;
            z-index: 10;
            top: 0;
            overflow-x: hidden;
            height: 100vh;
            transition: 0.3s ease;
            transform: translate3d(250px, 0, 0);
        }
        &-close{
            background: url('../img/close.svg') no-repeat 50% 50%;
            border: none;
            outline: none;
            position: absolute;
            right: 20px;
            width: 21px;
            height: 14px;
            top: 20px;
            cursor: pointer;
        }
        &-ul{
            list-style: none;
        }
        &-list{
            padding: 20px 30px 0;
        }
        &-link{
            opacity: 0.5;
            font-size: 14px;
            &:hover{
                opacity: 1;
            }
            &--active{
                opacity: 1;
            }
        }
    }
    &__content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
    &__nav{
        width: 65%;
        display: flex;
        @media (max-width: 1023px) {
            display: none;
        }
    }
    &__ul{
        display: flex;
        justify-content: center;
        list-style: none;
        line-height: normal;
        width: 65%;
        &-list{
            padding: 0 40px 0 0;
            &:first-child{
                padding: 0 30px 0 0;
            }
            &:last-child{
                padding: 0;
            }
        }
        &-link{
            white-space: nowrap;
            opacity: 0.5;
            padding: 23px 10px;
            transition: 0.2s ease;
            &-active{
                opacity: 1;
                border-bottom: 3px solid #2985F7;
            }
            &:hover{
                opacity: 1;
                border-bottom: 3px solid #2985F7;
            }
        }
    }
}
.header__menu-box.open{
    transform: translate3d(0, 0, 0);
}
///////DESC///////
.desc{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(28, 27, 26, 0.1);
    width: 100%;
    @media (max-width: 640px) {
        justify-content: center;
    }
    &__title{
        font-size: 24px;
        line-height: 33px;
    }
    &__view{
        @media (max-width: 1023px){
            display: none;
        }
        &-btn{
            cursor: pointer;
            background: transparent url('../img/burger.svg') no-repeat 50% 50%;
            width: 18px;
            height: 18px;
            border: none;
            padding-right: 15px;
            outline: none;
            &:last-child{
                position: relative;
                background: transparent url('../img/option.svg') no-repeat 50% 50%;
                width: 18px;
                height: 18px;
                opacity: 0.5;
                transform: scale(0.9);
                padding-left: 33px;
                &::before{
                    content: "|";
                    position: absolute;
                    color: rgba(28, 27, 26, 0.1);
                    font-size: 30px;
                    top: -11px;
                    left: 0px;
                }
            }
        }
    }
}

.table {
    text-align: left;   
    margin-bottom: 85px;
    &__section{
        @media (max-width: 1023px) {
            display: none;
        }
    }
     table {
        width: 100%;
        font-size: 14px;
        display: table;
        font-weight: 400;
        border-collapse: collapse;
        border-spacing: 0;
        thead tr th {
            background-color: #fff;
            font-size: 10px;
            font-weight: 700;
            line-height: normal;
            opacity: 0.5;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            height: 75px;
        }
        tbody tr{
            border-bottom: 1px solid rgba(28, 27, 26, 0.1);
             td{
                height: 80px;
                .table__td-span{
                    display: flex;
                    align-items: center;
                }
                &:last-child{
                    text-align: right;
                }
             }
        }
    }
    &__box{
        display: flex;
    }
    &__name{
        &-td{
            width: 17%;
        }
        &-img{
            width: 40px;
            height: 40px;
        }
        &-title{
            padding-left: 20px;
            font-size: 14px;
            margin-bottom: 3px;
            margin-top: 3px;
        }
        &-stars{
            display: flex;
            padding-left: 20px;
        }
        &-star{
            background: url('../img/star.svg') no-repeat 50% 50%;
            width: 12px;
            height: 12px;
            &--grey{
                background: url('../img/star-grey.svg') no-repeat 50% 50%;
                width: 12px;
                height: 12px;
            }
        }
    }
    &__health-td{
        width: 9.5%;
    }
    &__type-td{
        width: 8.9%;
    }
    &__metal-td{
        width: 14.5%;
    }
    &__drugs-td{
        width: 7.3%;
    }
    &__visits-td{
        width: 9.6%;
    }
    &__year-td{
        width: 9.8%;
    }
    &__btn-td{
        width: 16%;
    }
    &__btn-span{
        display: flex;
        justify-content: flex-end;
        flex-wrap: nowrap;
    }
    &__tool{
        width: 14px;
        height: 14px;
        background: #E4F0FF;
        border-radius: 50%;
        cursor: pointer;
        margin-left: 5px;   
        position: relative;
    }
    &__tooltip{
        position: absolute;
        left: 5px;
        top: -13px;  
        color: #2985F7; 
        font-size: 11px;
        font-weight: 600;
    }
    &__circle{
        border-radius: 50px;
        width: 14px;
        height: 14px;
        background: #808080;
        margin-right: 5px;
        &-s{
            background: #98B1B5;
        }
        &-g{
            background: #E79124;
        }
        &-b{
            background: #963c11;
        }
        &-c{
            background: #ca1d25;
        }
    }
    &__btn{
        color: #2985F7;
        text-transform: uppercase;
        letter-spacing: 0.07em;
        font-size: 10px;
        font-weight: 600;
        background: transparent;
        border: 1px solid rgba(28, 27, 26, 0.1);
        outline: none;
        width: 109px;
        cursor: pointer;
        margin: 0 0 0 5px;
        height: 30px;
        border-radius: 4px;
        transition: 0.2s ease;
        &:hover{
            opacity: 0.5;
        }
        &:last-child{
            background: #2985F7;
            border: 1px solid #2985F7;
            color: #fff;
            width: 68px;
            cursor: pointer;
            &:hover{
                opacity: 1;
                background: #006bf1;
                border: 1px solid #006bf1;
            }
        }
    }
}
.tr-box{
    border-bottom: 1px solid rgba(28, 27, 26, 0.1);

}
//////////TOOLTIP/////////
.table__tooltip {
    position: relative;
    display: inline-block;
}

.table__tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.table__tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.table__tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
//////////////FOOTER////////////
.footer{
    border: 1px solid rgba(28, 27, 26, 0.1);
    border-radius: 2px;
    height: 80px;
    &__content{
        display: flex;
        align-items: center;
        height: 100%;
        @media (max-width: 640px) {
            justify-content: center;
        }
    }
    &__copyright{
        line-height: normal;
        font-size: 12px;
        color: #000000;
        opacity: 0.7;
        transition: 0.2s ease;
        &:hover{
            opacity: 1;
        }
    }
    &__ul{
        list-style: none;
        display: flex;
        @media (max-width: 1023px) {
            display: none;
        }
    }
    &__list{
        padding-left: 30px;
        &-link{
            font-size: 12px;
            color: rgba(0, 0, 0, 0.7);
            opacity: 0.7;
            transition: 0.2s ease;
            &:hover{
                opacity: 1;
            }
        }
    }
}
//////////CARDS//////////
.cards{
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
    @media (max-width: 1245px) {
        justify-content: center;
    }
    &__section{
        display: none;
        @media (max-width: 1023px) {
            display: block;
        }
    }
}
.card{
    width: 23.33%;
    border-radius: 2px;
    margin: 0 12px;
    &:first-child{
        margin-left: 0;
        @media (max-width: 640px) {
            margin-right: 0;    
        }
    }
    &:last-child{
        margin-right: 0;
    }
    @media (max-width: 1245px) {
        width: 280px;
    }
    &__last{
        @media (max-width: 1245px) {
            display: none;
        }
    }
    &__tablet{
        @media (max-width: 1023px) {
            display: none;
        }
    }
    &__mob{
        @media (max-width: 640px) {
            display: none;
        }
    }
    &__box{
        border: 1px solid rgba(28, 27, 26, 0.1);
        border-bottom: 0px solid rgba(28, 27, 26, 0.1);
        padding: 30px;
        padding-bottom: 0; 
    }
    &__header{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 30px;
        &-info{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            margin-left: 20px;
        }
        &-title{
            font-size: 20px;
            margin-top: 0;
            margin-bottom: 3px;
        }
        &-stars{
            padding-left: 0;
        }
    }
    &__col{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 40px;
        border-bottom: 1px solid rgba(28, 27, 26, 0.05);
        &-text{
            display: flex;
            align-items: center;
            &:last-child{
                opacity: 1;
            }
        }
        &-span{
            font-size: 14px;
            opacity: 0.5;
        }
    }
    &__tool{
        margin-left: 0;
        margin-right: 5px;
    }
    &__big{
        &-text{
            font-weight: 300;
            line-height: normal;
            font-size: 36px;
            margin: 0;
            padding: 30px 0;
            text-align: center;
            letter-spacing: 0.02em;
        }
    }
    &__buttons{
        display: flex;
    }
    &__button{
        width: 50%;
        height: 40px;
        color: #2985F7;
        text-transform: uppercase;
        letter-spacing: 0.07em;
        font-size: 12px;
        font-weight: 600;
        background: transparent;
        border: 1px solid rgba(28, 27, 26, 0.1);
        outline: none;
        cursor: pointer;
        transition: 0.2s ease;
        &:hover{
            opacity: 0.5;
        }
        &:last-child{
            background: #2985F7;
            border: 1px solid #2985F7;
            color: #fff;
            cursor: pointer;
            &:hover{
                opacity: 1;
                    background: #006bf1;
                    border: 1px solid #006bf1;
            }
    }
    }
}